<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foo</title>
</head>
<body>
    <h1>About Us</h1>

    Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti illo eos eius, iusto, quis aliquid earum vitae, doloremque dignissimos aut dolorum repellendus! Quaerat rem vero quisquam tempore commodi quas voluptates.
</body>
</html>