body {
    margin: 0px;
}
.container {

    height: 100%;
    background-color: gold;
    width: 100%;
    display: flex;
    flex-direction: row;


    


}

p {
    height: 200px;
    width: 200px;
    background-color: tomato;
    margin-left: 10px;
    color: white;
    font-size: 40px;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-wrap: wrap; */
}

.item{
    order: 1;

}

.fg1{
    flex-grow: 1;
}

.fg2{
    flex-grow: 2;
}